footer {
  padding: 20px;
  background-color: $neutral-main;
  @include box-shadow(tertiary);

  p {
    color: $primary-light;
    @include device(s) {
      text-align: center;
    }
  }

  a img {
    float: right;
    margin-top: -26px;
    @include device(s) {
      margin-top: 0px;
      float: none;
      margin: 20px auto;
    }
  }
}
